<!-- <app-detalle-venta (onSubmitDetalle)="agregarDetalle($event)"></app-detalle-venta> -->
<div class="row">
<div style="width: 700px;">
<form autocomplete="off" *ngIf="ventaForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Venta No.</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input class="form-control" readonly [(ngModel)]="ventaForm.id" name="id">
                </div> 
            </div>
            <div class="form-group">
                <label>Cantidad Items</label>
                <input class="form-control" readonly [(ngModel)]="cantidadItems" name="cantidadItems"> 
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha</label>
                <input class="form-control" readonly [(ngModel)]="fecha" name="fechaVenta">
            </div>
            <div class="form-group">
                <label>Valor Total de Venta</label>
                <input class="form-control" readonly [(ngModel)]="ventaForm.precioTotalVenta" name="totalVenta">
            </div>
        </div>
        <table class="table table-borderless">
            <thead class="thead-light">
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>    </th>
                <th>    </th>
            </thead>
            <tbody>
                <tr *ngIf="detallesVenta.length==0" colspan="5">
                    <td class="font-italic text-center">
                        No hay detalles en esta venta
                    </td>
                </tr>
                <tr *ngFor="let detalle of detallesVenta; let i=index">
                    <td>{{detalle.producto.nombre}}</td>
                    <td>{{detalle.precio}}</td>
                    <td>{{detalle.cantidadVendida}}</td>
                    <td>{{detalle.total}}</td>
                    <td><a class="btn btn-sm btn-info text-white" (click)="editar(detalle,i)"><i class="fa fa-pencil">Editar</i></a></td>
                    <td><a class="btn btn-sm btn-danger text-white" (click)="eliminar(i)"><i class="fa fa-pencil">Eliminar</i></a></td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            <button type="submit" class="btn btn-dark" (click)="cerrarVenta()"><i class="fa fa-database"></i> Cerrar Venta</button>
        </div>
    </div>
</form>

</div>

<div style="width: 330px; margin-left: 50px;">
    <h2 *ngIf="!editarActivo" class="display-4"> Nuevo Detalle </h2>
    <h2 *ngIf="editarActivo" class="display-4"> Modificar Detalle </h2>
    <hr>
    <form [formGroup]="detalleForm">
        <div class="row">
          <mat-form-field style="margin-left: 15px;">
            <mat-select formControlName="producto" placeholder="Producto" [(ngModel)]="newDetalleVenta.producto">
              <mat-option *ngFor="let producto of productos" [value]="producto">
                {{producto.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field style="margin-left: 15px;">
            <input matInput formControlName="precio" placeholder="Precio" [(ngModel)]="newDetalleVenta.precio" (keyup)="updateTotal()">
            <mat-error *ngIf="detalleForm.controls['precio'].errors?.required">Se necesita para calcular el total del detalle</mat-error>
            <mat-error *ngIf="detalleForm.controls['precio'].errors?.pattern">El campo solo acepta numeros</mat-error>
          </mat-form-field>
        </div>
        
        <div class="row">
          <mat-form-field style="margin-left: 15px;">
            <input matInput formControlName="cantidad" placeholder="Cantidad" [(ngModel)]="newDetalleVenta.cantidadVendida" (keyup)="updateTotal()">
            <mat-error *ngIf="detalleForm.controls['cantidad'].errors?.required">Se necesita para calcular el total del detalle</mat-error>
            <mat-error *ngIf="detalleForm.controls['cantidad'].errors?.pattern">El campo solo acepta numeros</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field style="margin-left: 15px;">
            <mat-label>Total</mat-label>
            <input matInput formControlName="total" [(ngModel)]="newDetalleVenta.total" readonly style="background-color: rgb(252, 64, 64);">
          </mat-form-field>
        </div>
          <button style="margin-left: 70px;" *ngIf="!editarActivo" mat-raised-button color="primary" (click)="agregarDetalle()" [disabled]="detalleForm.invalid">Agregar Detalle</button>
          <button style="margin-left: 70px;" *ngIf="editarActivo" mat-raised-button color="secondary" (click)="editarDetalle()" [disabled]="detalleForm.invalid">Modificar Detalle</button>
      </form>
</div>
</div>